
<!DOCTYPE html>
<head>
	<title>Login</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<link href="https://fonts.googleapis.com/css?family=Thasadith" rel="stylesheet">
</head>
<body class="bg-light">

<style>
body {
	font-family: 'Thasadith', sans-serif;
}
.container {
	padding: 10% 20% ;
}
</style>
<script>
	function login($scope,$http) {
		$scope.submit = function () {
			$scope.details = {
				email: $scope.email,
				password: $scope.password
				//check password and go to home screen
			};
		};
	};
</script>
<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
<div class="container">
	<h2 class="text-center"><b>Login</b></h2>
	<br>
	<div ng-app="" ng-controller="login">
		<form>
		   <div class="form-group">
			  <label for="exampleInputEmail1">Email address</label>
			  <input ng-model="email" type="email" name="email"  class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email" required>
		   </div>
		   <div class="form-group">
			  <label for="exampleInputEmail1">Password</label>
			  <input ng-model="password" type="password" name="password" id="password"  class="form-control" aria-describedby="emailHelp" placeholder="Enter Password" required>
		   </div>
		   <br>
		   <div class="col-md-12 text-center ">
			  <button ng-click="submit()" type="submit" class="btn btn-block mybtn btn-primary tx-tfm">Login</button>
		   </div>
		</form>
		<br>
		<div>
		  <h5><small>Don't have an account? <a href="signup.html" class="alert-link">Sign In</a></small></h5>
		</div> 
	</div>
</div>
</body>
</html>
